= link_to "All Jobs", jobs_path, :class => 'brand'
= link_to "Update",jobs_updatedb_path, :class=>'brand'
%ul.nav.nav-pills
  %li
    = link_to "Open",jobs_open_path
  %li
    = link_to "Closed", jobs_closed_path

